# Dependencies
node_modules/*
package-lock.json

# Core
wp-app/*
!wp-app/.gitkeep

# Backups
wp-data/*
!wp-data/.gitkeep

wp-uploads/*
!wp-uploads/.gitkeep

# Distribution files
wp-theme/assets/dist/*
!wp-theme/assets/dist/.gitkeep

# Log files
*.cache