# Dependencies
node_modules/*

# Core
src/app/*
!src/app/.gitkeep

# Backups
src/data/*
!src/data/.gitkeep

src/uploads/*
!src/uploads/.gitkeep

# Distribution files
src/theme/assets/dist/*
!src/theme/assets/dist/.gitkeep

# Log files
*.cache
